<ion-header>
  <ion-toolbar>
    <ion-title>
      Random Cat Images
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="button-container">
    <ion-button (click)="loadRandomCat()" class="button-with-icon">
      <ion-icon slot="start" aria-hidden="true" name="refresh-outline"></ion-icon>New Image
    </ion-button>
    <ion-button id="open-modal" expand="block" class="button-with-icon">
      <ion-icon aria-hidden="true" name="help-circle-outline"></ion-icon>About
    </ion-button>
  </div>

  <ion-img [src]="catImageUrl"></ion-img>

  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">App was made by using CatAPI. ☺</div>
    </ng-template>
  </ion-modal>
</ion-content>
